/*
*/
/* -------------------------------------------- */
/* ------------------Reset--------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(../font/DroidSans.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(../font/DroidSansBold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(../font/RobotoSlabLight.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../font/RobotoSlabRegular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(../font/RobotoSlabBold.woff) format('woff');
}

/* -------------------------------------------- */
/* ------------------Clear--------------------- */
.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/*article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}*/
.box:after, .box:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {}
/*#A5A5A5*/
body {background: #999999;color: black; font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;}
body .wrap-body{background:#ffffff; margin: 0px auto; padding: 10px;}

a{color: #76D2C5;text-decoration: none;}
a:hover {color: #474747; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;;font-size: 14px;font-weight: bold;	background: #3F3F3F;border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;}
a.button {display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
a.button:hover{}

h1, h3{
	font-size: 25px;
	line-height: 35px;
	font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	font-weight: 300;
	color: #474747;
}

h2{
	font-size: 25px;
	line-height: 15px;
	margin: 0 0 2% 0;
	font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	font-weight: 300;
	color: white;
}

h1 a, h2 a, h3 a{color: #474747; text-decoration: none;}
h1 a:hover, h2 a:hover, h3 a:hover{color: #76D2C5; text-decoration: none;}

h4,h5,h6{margin:2em 0 0.5em;line-height:1.2;font-family:-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;font-weight:bold}
h4{font-size:2em}h5{font-size:.75em}h6{font-size:.75em}
/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {
	width: 55%;
	margin-right : auto;
	margin-left : auto;}
header .wrap-header{margin-left: 10px;margin-right: 10px;}
/*header #logo {*/
/*	background:white;*/
/*	width: 100%;*/
/*	text-align: center;*/
/*	padding: 0px 0px;*/
/*	color : black;*/
/*	z-index: 0;}*/
/*header #logo h1{font-size: 20px; line-height: 20px; color: black;}*/

header .top {height: 0px;}
header .top .socials ul {list-style: none;}
header .top .socials ul li {position: relative;float: left; margin: 5px 0 5px 5px;}

/* -------------------------------------------- */
/* ------------------Navigation---------------- */
nav {height: auto;}
nav .wrap-nav{display: inline-block; background: #91DBD1; width: 100%;}

.menu ul {list-style: none;margin: 0;padding: 0;}
.menu  ul li {position: relative;float: left;padding: 6px 5px 0px 5px;}
.menu  ul li a {font-size: 18px; color: #ffffff;display: block;padding: 6px 30px;margin-bottom: 5px;z-index: 6;position: relative;}
.menu  ul li:hover {background-color:#ffffff;}
.menu  ul li:hover a {color:#000000;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {width: 55%;
	margin-right : auto;
	margin-left : auto;}
#content .wrap-content{background-color:#FFF; margin-top: 10px;}

.block{}

#main-content{}
#main-content article{margin-bottom: 20px; padding:20px; border: 1px solid #EEEEEE;}
#main-content article .heading{text-align: center; border-bottom: 1px solid #EEEEEE; padding: 10px 0 10px 0; margin-bottom: 0;}
#main-content article .content{margin: 20px 0;}
#main-content article h2{font-size:30px;}
#main-content article img{float:left; margin:5px 20px 10px 0; padding:3px; border:1px solid #EEEEEE;}
#main-content article p{margin-bottom:10px;}
#main-content article .info{font-style:italic; border-top: 1px solid #EEEEEE; padding: 30px 0 10px 0;}

/* -------------------------------------------- */
/* ------------------Form------------------- */

#contact-form {width:580px}
#contact-form label {
	display:block; 
	height:44px;
}
#contact-form input {
	width:548px; 
	font-size:15px; 
	line-height:1.2em;
	color:#a0a0a0; 
	padding:8px 15px; 
	margin:0; 
	font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	border:1px solid #eeeeee; 
	background: #ffffff;
	outline:none;
}
#contact-form textarea {
	height:158px; 
	overflow:auto; 
	width:548px; 
	font-size:15px; 
	line-height:1.2em;
	color:#a0a0a0; 
	padding:7px 15px; 
	margin:0; 
	font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
	border:1px solid #eeeeee; 
	background: #ffffff;
	outline:none;
}
.buttons {padding-top:17px; text-align:right}
.buttons a {margin-left:30px}

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {background-color:#76D2C5; margin-top:30px;width: 55%;
	margin-right : auto;
	margin-left : auto;}
footer .wrap-footer{padding:10px 0px; color:#ffffff;}
footer .box {}
footer .box .heading { padding:0px;}
/*footer .box .heading h2{padding:0 0px; color:#ffffff;}*/
footer  .box .heading a {
						text-align:center;
						font-size: 25px;
						line-height: 35px;
						font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
						font-weight: 300;
						color: #ffffff;
						display: block;
						padding: 6px 30px;
						margin-bottom: 5px;
						z-index: 6;
						position: relative;}
footer  .box .heading a:hover {background-color:white;
								color:#000000;}
.copyright{text-align:center; margin-top:5px; background:#91DBD1; padding:10px 0px;color:#ffffff; }
.copyright a{text-decoration:underline; color:#ffffff; }
/*picture and name*/



